101 ICON DISCARDABLE "ico101.ico"
102 ICON DISCARDABLE "ico102.ico"
103 ICON DISCARDABLE "ico103.ico"
104 ICON DISCARDABLE "ico104.ico"
105 ICON DISCARDABLE "ico105.ico"
106 ICON DISCARDABLE "ico106.ico"
107 ICON DISCARDABLE "ico107.ico"
108 ICON DISCARDABLE "ico108.ico"
109 ICON DISCARDABLE "ico109.ico"
