1001 ICON DISCARDABLE "ico101.ico"
1002 ICON DISCARDABLE "ico102.ico"
1003 ICON DISCARDABLE "ico103.ico"
1004 ICON DISCARDABLE "ico104.ico"
1005 ICON DISCARDABLE "ico105.ico"
1006 ICON DISCARDABLE "ico106.ico"
1007 ICON DISCARDABLE "ico107.ico"
1008 ICON DISCARDABLE "ico108.ico"
